@import "variables.css";

body {
  margin: 20px 10px;
  padding: 0;
}

.primary_btn {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}
.primary_btn:hover {
  background-color: var(--BtnPrimaryHover);
}

section {
  margin: var(--size-5) 0;

  article {
    margin-bottom: var(--size-4);
    padding: var(--size-4);
    border: var(--size-0-5) solid var(--colorSecondary);
    box-shadow: var(--size-1) var(--size-1) var(--colorPrimary);
    border-radius: var(--size-4);

    p {
      margin: 0;
    }
  }
}

.searchForm {
  margin-bottom: var(--size-5);

  /*** Input + label ***/
  div:first-of-type {
    input {
      width: 100%;
    }
  }

  /*** Buttons ***/
  div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;

    button {
      width: 50%;
    }
  }
}

.addForm,
.editForm {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  margin-top: var(--size-5);

  p {
    margin: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
}

.error {
  padding: 1rem;
  border: var(--size-1) solid var(--colorError);
  border-radius: var(--size-4);
}

a {
  color: var(--colorAccent);
}

ul {
  li {
    margin: var(--size-3) 0;
  }
}

/* li {
  list-style: none;
} */

h1,
h2 {
  margin: 0;
}

.flex {
  display: flex;
  gap: var(--size-4);
}

/* .border {
  border: var(--size-0-5) solid var(--colorSecondary);
  border-radius: var(--size-4);
  padding: var(--size-4);
  width: fit-content;
} */

.line {
  border-top: var(--size-0-5) solid var(--colorSecondary);
}

@media (min-width: 675px) {
  body {
    margin: 20px auto;
  }
  /* .grid-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--size-4);

    div {
      grid-row: 1/2;
    }
  } */

  .searchForm {
    /* position: sticky;
    top: 0; */
    display: flex;
    align-items: end;
    gap: var(--size-4);

    div:first-of-type {
      width: 80%;
    }
  }
}
