@import "variables.css";

.primary_btn {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}
.primary_btn:hover {
  background-color: var(--BtnPrimaryHover);
}

article {
  margin-bottom: 1rem;
  padding: 1rem;
  border: thin solid var(--colorSecondary);
  border-radius: 1rem;

  p {
    margin: 0;
  }
}

.searchForm {
  background-color: pink;
}

.error {
  padding: 1rem;
  border: thick solid var(--colorError);
  border-radius: 1rem;
}

a {
  color: var(--colorAccent);
}

li {
  list-style: none;
}

.flex {
  display: flex;
}
